<!DOCTYPE html>
{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <style>
        body{
            background-image: url("https://i.pinimg.com/1200x/f6/c3/71/f6c37190925923a040d406802717b963.jpg");
            background-size: cover;
            color: bisque;
        }
    </style>
</head>
<body>
    
    <p style="font-family: old english text mt;font-size:40px; background: linear-gradient(90deg, #b8860b, #ffd700, #fff8aa, #ffd700, #b8860b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow:
    0 0 2px #fff8aa,
    0 0 5px #ffd700,
    0 0 10px #ffdd00,
    0 0 15px #ffd700,
    0 0 20px #b8860b;"> Contact Us:</p>
    We’d love to hear from you! Whether you’re planning a cozy dinner, a family celebration, or simply want to share your feedback, our team at Ate’O Clock is always here to help.<br><br>

📍 Address: 45, Food Street, T. Nagar, Chennai – 600017<br><br>
📞 Phone: +91 98765 43210<br><br>
📧 Email: hello@ateoclock.com<br><br>

🕒 Opening Hours: Mon–Fri: 11 AM – 11 PM <br>
    Sat–Sun: 10 AM – 12 AM.<br><br>

<p style="font-family: brush script mt;font-size: xx-large;color:#b8860b"><b>Have a special request or want to reserve a table? Just reach out to us—we’ll make sure your dining experience is nothing short of delightful.</b></p>
<img src="{% static 'restlogoorg.png' %}" style="width: 100px;position:relative;left:450px;bottom: 90px;">
<img src="{% static 'thank you.png' %}" style="width: 300px;position: relative; left: 500px;"
</body>
</html>